body, html {
  background-color: #ECEFF1;
  color: white;
  font-family: "Roboto", sans-serif, monospace;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

h1 {
  background-color: #455A64;
  font-size: 2em;
}

body>header {
  background-color: #607D8B;
  padding: 0.5em;
}

p {
  margin-left: 0.5em;
}

.sectionTitle {
  background-color: #455A64;
  border-bottom: 0.2em solid #FA6F03;
  margin-top: 1em;
  padding: 0.5em 1em;
}

.eduSteps, .workSteps, .favorite, .pres {
  background-color: #607D8B;
  padding: 0.5em;
}

h3 {
  background-color: #455A64;
  padding: 0.5em;
}

footer {
  background-color: #455A64;
  padding: 0 0.3em;
}

li {
  padding: 0.1em;
}

a:link, a:visited {
  color: white;
}

a:hover {
  color: #FA6F03;
}

a:active {
  color: #FB8C00;
}